<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= folder.title %></title>
  </head>
  <body class="bg-[url('/assets/dark-1845685_1920.jpg')]">
    <%- include("partials/nav.ejs" ) %>
    <% if(user){ %>
    <div class="container flex  bg-gray-700 mx-auto p-7 text-white">
      <div class="folder-layout W-3/4 ">
        <div class="top-layout">
          <div class="links flex">
            <a href="/">
            <img src="/assets/home-custom.png" alt="" srcset="">
            </a>
            <a href="<%=folder.id %>">> <%= folder.title%></a>
          </div>
          <div class="create-folder my-6">
            <a href="/files/create?folderId=<%= folder.id %>">Create File</a>
             <form action="/files/create" method="get">
              <span>Upload File</span>
              <button type="submit">
               <img src="/assets/upload-file/icons8-upload-file-32.png" alt="" srcset="">
              </button>
             </form>
             </a>
          </div>
        </div>
         <div class="bottom-layout">
    <% if(files && files.length > 0) { %>
      <% files.forEach((file) => { %>
        <div class="file mx-5 items-center justify-center text-sm">
          <div class="file-image flex justify-center items-center text-sm">
            <img src="../assets/file/icons8-file-50.png" alt="" class="cursor-pointer">
          </div>
          <li class="flex items-center justify-center "><a class=" " href="/file/<%= file.id %>"><%= file.title %>.<%= file.filetype %>
          <form action="/file/delete" method="post">
            <input type="hidden" name="folderId" value="<%= folder.id %>">
            <button class="p-2 bg-red-800 text-black" type="submit">X</button>
          </form> </li>
        </div>
      <% }) %>
    <% } else { %>
      <li>No files found</li>
    <% } %>
  </div>
</div>
</div>
<% } else{ %>
  <p>Login!</p>
  <%} %> 
  </body>
</html>
