<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= folder.title %></title>
  </head>
  <body class="bg-[url('/assets/dark-1845685_1920.jpg')]">
    <%- include("partials/nav.ejs" ) %>
    <% if(user){ %>
    <div class="container bg-gray-700 mx-auto p-7 text-white border-blue-800 border-solid border-2 flex flex-col">
      <div class="folder-layout">
        <div class="top-layout border-red-800 border-solid border-2 ">
          <div class="links flex">
            <a href="/">
            <img src="/assets/home-custom.png" alt="" srcset="">
            </a>
            <a href="<%=folder.id %>">> <%= folder.title%></a>
          </div>
          <div class="create-folder my-6 border-yellow-800 border-solid border-2">
             <form action="/files/create" method="get">
              <span>Upload File</span>
              <button type="submit">
               <img src="/assets/upload-file/icons8-upload-file-32.png" alt="" srcset="">
              </button>
             </form>
             </a>
          </div>
        </div>
      <ul class="files">
    <% if(files && files.length > 0) { %>
      <% files.forEach((file) => { %>
        <ul class="file-container mx-5 text-sm w-4/5 border-green-800 border-solid border-2 flex flex-row items-center justify-between">
          <li class=" flex flex-col border-white-800 border-solid border-2 w-1/6 justify-center items-center mr-auto">
            <div class="image border-2 ">
              <img src="../assets/file/icons8-file-50.png" alt="" class="cursor-pointer">
              <span class="flex items-center justify-center "><a class=" " href="/file/<%= file.id %>"><%= file.title %>.<%= file.filetype %>
            </div>
          </li>
          <div class="links flex ">
            <li class="inline-block self-center"><%= file.size%></li>
          <li class="inline-block">
            <form action="/files/delete" method="post" >
              <input type="hidden" name="fileId" value="<%= file.id %>">
              <input type="hidden" name="fileType" value="<%= file.filetype %>">
              <input type="hidden" name="fileName" value="<%= file.title %>">
              <button class="p-2 " type="submit">
                <img src="https://img.icons8.com/ios/40/waste.png"  >
              </button>
            </form>
          </li class="inline-block">
          <li class="inline-block"><img src="https://img.icons8.com/material-rounded/40/share.png" alt=""></li>
          <li class="inline-block"> <img src="https://img.icons8.com/material-sharp/40/download--v1.png
            " alt=""></li>
          </div>
        </ul>

         
      </div>
      <% }) %>
    <% } else { %>
      <li>No files found</li>
    <% } %>
    </ul>
  </div>
</div>
<% } else{ %>
  <p>Login!</p>
  <%} %> 
  </body>
</html>
